#lxdm {
	background-image: url("wave.svg");
	background-size: 100% 100%;
}

#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font: 12px Sans;
	color: #ffffff;
}

#prompt {
	font: 14px Sans;
	color: #ffffff;
}

#bottom_pane label,
#bottom_pane GtkLabel {
	font: 12px Sans;
	color: #ffffff;
}

#info {
        font: Sans 14;
        font-style: italic;
}
